# Core modules (required)
jupyterlite-core==0.2.3
jupyterlab~=4.0.11
notebook~=7.0.7

# Python kernel (optional)
jupyterlite-pyodide-kernel==0.2.3

# Python: ipywidget library for Jupyter notebooks (optional)
ipywidgets>=8.1.1,<9

ipyleaflet
pandas
altair
bs4
playwright
